/* https://cssgrid-generator.netlify.app/ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* IMG */
img {
  height: 95%;
  /* width: 95%; */
  user-select: none;
  -webkit-user-drag: none;
}
/* SET THE BOARD */
.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 20vh); /*1fr*/
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

div > div {
  width: 10vw;
  height: 20vh;
  border: 2px solid red; /*BORRAR*/
}

/* CENTER CARD IN DIVS */
.centerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* FLIP */
.flipper {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}
.frontCard {
  position: absolute;

  backface-visibility: hidden;
}
.backCard {
  position: absolute;

  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.showCard {
  /*BE A EVENTE*/
  transform: rotateY(180deg);
}

/*ZOOM*/
.centerCard {
  /* transform: scale(4); */
}

/**/
div.DIAMONDS,
div.SPADES,
div.HEARTS,
div.CLUBS {
  background: blue;
}
